<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/RAM/lab1c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1c - Understanding Your Data

Please use the [**Open Food Facts**](https://www.kaggle.com/openfoodfacts/world-food-facts/data) dataset for this exercise.

### Step 1. Download the dataset to your computer and unzip it.

### Step 2. Use the tsv file and assign it to a dataframe called food

### Step 3. See the first 5 entries

### Step 4. What is the number of observations in the dataset?

### Step 5. What is the number of columns in the dataset?

### Step 6. Print the name of all the columns.

### Step 7. What is the name of 105th column?

### Step 8. What is the type of the observations of the 105th column?

### Step 9. How is the dataset indexed?

### Step 10. What is the product name of the 19th observation?