<a href="https://colab.research.google.com/github/drshahizan/BDM/blob/main/lab/submission/F4/lab1/F4_ans_lab1d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 1d - Filtering and Sorting Data
Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

###Step 1. Import the necessary libraries

In [20]:
import pandas as pd
import numpy as np

###Step 2. Import the dataset from this address.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###Step 3. Assign it to a variable called chipo.

In [ ]:
chipo=df

###Step 4. How many products cost more than $10.00?

In [65]:
cost=len((chipo["item_price"]>$10))

print("The total number products cost more than $10.00 : ", cost)

SyntaxError: ignored

###Step 5. What is the price of each item?
print a data frame with only two columns item_name and item_price

In [35]:
chipo = pd.DataFrame(df)
print(chipo[['item_name','item_price']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

###Step 6. Sort by the name of the item

In [40]:
chipo = pd.DataFrame(df)
print((chipo.sort_values(by='item_price', ascending=False))[['item_name','item_price']])

                item_name item_price
2624     Steak Salad Bowl     $9.39
4419     Steak Salad Bowl     $9.39
4036     Steak Salad Bowl     $9.39
1825  Barbacoa Salad Bowl     $9.39
3115  Carnitas Salad Bowl     $9.39
...                   ...        ...
3145          Canned Soda     $1.09
414           Canned Soda     $1.09
3162          Canned Soda     $1.09
821           Canned Soda     $1.09
1457          Canned Soda     $1.09

[4622 rows x 2 columns]

###Step 7. What was the quantity of the most expensive item ordered?

In [66]:
maxValues = chipo.max()

print(maxValues)

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price               $9.39
dtype: object

<ipython-input-66-e9000c599366>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  maxValues = chipo.max()

In [ ]:
chipo = pd.DataFrame(df)
print((chipo.sort_values(by='item_price', ascending=False))[['item_price','item_name']])

     item_price            item_name
2624     $9.39      Steak Salad Bowl
4419     $9.39      Steak Salad Bowl
4036     $9.39      Steak Salad Bowl
1825     $9.39   Barbacoa Salad Bowl
3115     $9.39   Carnitas Salad Bowl
...         ...                  ...
3145     $1.09           Canned Soda
414      $1.09           Canned Soda
3162     $1.09           Canned Soda
821      $1.09           Canned Soda
1457     $1.09           Canned Soda

[4622 rows x 2 columns]

###Step 8. How many times was a Veggie Salad Bowl ordered?

In [61]:
orderVSB=len(chipo[(chipo["item_name"]=="Veggie Salad Bowl")])
print("The total number Veggie Salad Bowl was order : ", orderVSB)

The total number Veggie Salad Bowl was order :  18

###Step 9. How many times did someone order more than one Canned Soda?

In [62]:
orderCS=len(chipo[(chipo["item_name"]=="Canned Soda") &
         (chipo["quantity"]>1)])

print("The total number someone order more than one Canned Soda : ", orderCS)

The total number someone order more than one Canned Soda :  20